$mat-slider-padding: 8px !default;
$mat-slider-thickness: 48px !default;
$mat-slider-min-size: 128px !default;

$mat-slider-track-thickness: 2.5px !default;

$mat-slider-thumb-size: 20px !default;
$mat-slider-thumb-border-width: 3px !default;
$mat-slider-thumb-default-scale: 0.7 !default;

nouislider {
    display: inline-block !important;
    position: relative;
    box-sizing: border-box;
    padding: $mat-slider-padding;
    outline: none;
    vertical-align: middle;

    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
    height: $mat-slider-thickness;
    min-width: $mat-slider-min-size;

    .noUi-target {
        border: none;
        background-color: rgba(0,0,0,.26);
        transition: background-color .4s cubic-bezier(.25,.8,.25,1);
    }

    .noUi-horizontal {
        top: 14px;
        height: $mat-slider-track-thickness;
        width: 100%;
    }

    .noUi-connect { background: #ff4081; }

    .noUi-handle {
        background-color: #ff4081;
        position: absolute;
        right: -$mat-slider-thumb-size / 2 !important;
        bottom: -$mat-slider-thumb-size / 2;
        box-sizing: border-box;
        width: $mat-slider-thumb-size !important;
        height: $mat-slider-thumb-size !important;
        border: $mat-slider-thumb-border-width solid transparent;
        border-radius: 50%;
        cursor: grab;
        box-shadow: none;
        transform: scale($mat-slider-thumb-default-scale);
        transition: transform .4s cubic-bezier(.25,.8,.25,1);

        &::after, &::before { background: none; }
        &:focus { transform: scale(1); }
    }

    .noUi-horizontal .noUi-handle { top: -8px; }
    &:hover { .noUi-target { background-color: rgba(0,0,0,.38) } }
}