*:focus {outline:none !important}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 55px;
    width: 70px;
    cursor: pointer;
}

.frame i {
    position: absolute;
    color: rgba(255, 255, 255, 0.603);
    font-size: 2.5em;
}

.active-frame i{
    color: rgb(221, 175, 23);
    
}

.frame:hover {
    background-color: rgba(100, 100, 100, 0.5);
}