.container {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 64px);
    padding: 1rem;
    box-sizing: border-box;
}

.loading { z-index: 10; }

mat-grid-list { height: 100%; }
mat-grid-tile { background: #3e3e3e; }

app-accuracy-plot, app-t-sne-plot {
    width: 100%;
    height: 100%;
    position: relative;
}

app-accuracy-plot, app-t-sne-plot, app-input-drawing {
    visibility: hidden;
}

.visible { visibility: visible; }



// .test-network {
//     position: absolute;
//     bottom: 5.5rem;
//     width: 50vw;
//     z-index: 10;
// }