<div class="loading" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>

<app-playground-viz></app-playground-viz>
<div class="right-chart">
    <app-accuracy-plot></app-accuracy-plot>
    <app-t-sne-plot></app-t-sne-plot>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showTestNetwork" class="test-network">
    <button mat-raised-button (click)="testNetwork()">Test Network</button>
    <div style="width: 1rem;"></div>
    <button mat-raised-button (click)="resetNetwork()">Reset Network</button>
</div>