<div class="container loading" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>

<div class="container">
    <mat-grid-list cols="3" gutterSize="8" rowHeight="fit">
        <mat-grid-tile [colspan]="2" [rowspan]="3">
            <!-- <app-playground-viz [class.visible]="showDashboard"></app-playground-viz> -->
            <app-ablation-playground [class.visible]="showDashboard"></app-ablation-playground>
            <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showDashboard" class="test-network">
                <button mat-raised-button (click)="testNetwork()">Test Network</button>
                <div style="width: 1rem;"></div>
                <button mat-raised-button (click)="resetNetwork()">Reset Network</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-accuracy-plot [class.visible]="showDashboard" (finished)="accFinished=$event; updateSpinner()">
            </app-accuracy-plot>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-t-sne-plot [class.visible]="showDashboard" (finished)="tSNEFinished=$event; updateSpinner()">
            </app-t-sne-plot>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-input-drawing [class.visible]="showDashboard" [clearCanvas]="showDashboard"></app-input-drawing>
        </mat-grid-tile>
        <!-- <mat-grid-tile [colspan]="" [rowspan]=""></mat-grid-tile> -->
    </mat-grid-list>
</div>




<!-- <app-conv-filters-viz></app-conv-filters-viz> -->