<div class="container loading" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>

<div class="container">
    <mat-grid-list cols="3" gutterSize="8" rowHeight="fit">
        <mat-grid-tile [colspan]="2" [rowspan]="3">
            <app-playground-viz></app-playground-viz>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-accuracy-plot [class.visible]="showSpinner !== undefined && !showSpinner"
                (finished)="accFinished=$event; updateSpinner()"></app-accuracy-plot>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-t-sne-plot [class.visible]="showSpinner !== undefined && !showSpinner"
                (finished)="tSNEFinished=$event; updateSpinner()"></app-t-sne-plot>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <app-input-drawing [class.visible]="showSpinner !== undefined && !showSpinner"></app-input-drawing>
        </mat-grid-tile>
        <!-- <mat-grid-tile [colspan]="" [rowspan]=""></mat-grid-tile> -->
    </mat-grid-list>
</div>







<!-- <mat-tab-group [className]="showTestNetwork? 'visible': 'hidden'" [selectedIndex]="1"
    (selectedTabChange)="tabChanged($event.index)">
    <mat-tab label="Convolutional Filters">
        <app-conv-filters-viz></app-conv-filters-viz>
    </mat-tab>
    <mat-tab label="Ablation Results">
    </mat-tab>
</mat-tab-group> -->


<!-- <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showTestNetwork" class="test-network">
    <button mat-raised-button (click)="testNetwork()">Test Network</button>
    <div style="width: 1rem;"></div>
    <button mat-raised-button (click)="resetNetwork()">Reset Network</button>
</div> -->