.navigation-bar {
    position: relative;
    height: 55px;
    width: 100%;
    background-color: rgb(27, 27, 27)
}

h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0;
    margin: 0;
    font-family: Calibri;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
    -ms-user-select: None; 
    -moz-user-select: None; 
    -webkit-user-select: None; 
}

.menu {
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-elements {
    right: 45%;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    list-style: none;
}