<mat-dialog-content>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Source">
      <div *ngIf="router.url.includes('builder'); else archive">
        <form [formGroup]="playgroundForm" fxLayout="row wrap">
          <div style="margin-top: 0.5rem;">
            <strong>Mnist Data</strong>
          </div>
          <div fxFlex="grow"></div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Batch Size Train" type="text" formControlName="batch_size_train">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Batch Size Test" type="text" formControlName="batch_size_test">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Epoch" type="text" formControlName="num_epochs">
            </mat-form-field>
          </div>
          <div fxFlex="grow"></div>
          <div style="margin-top: 0.5rem;">
            <strong>Model</strong>
          </div>
          <div fxFlex="grow"></div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Number of Layers" type="number" min="0" formControlName="layerCount">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Learning Rate (Notations: 0.01 or 1e-2" type="text" formControlName="learning_rate"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of playgroundData.learningRates" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex="grow"></div>
          <div formArrayName="layers" fxLayout="row wrap">
            <div *ngFor="let layer of layers.controls; let i=index" [formGroupName]="i">
              <div style="margin-top: 0.5rem;">
                <strong> {{ i+1 | ordinal }} Layer</strong>
              </div>
              <div class="layers">
                <mat-form-field>
                  <input matInput placeholder="Number of Units" type="number" min="1" formControlName="unitCount">
                </mat-form-field>
                <button mat-icon-button (click)="delLayer(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <ng-template #archive>
        <div style="height: 0.5rem;">
        </div>
        <mat-form-field>
          <mat-select [(value)]="selectedFile" placeholder="File">
            <mat-option *ngFor="let file of files" [value]="file.value" (click)="selectedFileClick(file.value)">
              {{ file.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </mat-tab>
    <mat-tab label="Options">
      <div>
        <div style="height: 0.5rem;">
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="epochSliderConfig">
          <div class="form-field">Epoch</div>
          <div>{{epochSliderConfig.epochRange[0]}}</div>
          <nouislider [min]="epochSliderConfig.epochRange[0]" [max]="epochSliderConfig.epochRange[1]" [step]="1"
            [(ngModel)]="epochSliderConfig.epochValue" (ngModelChange)="createHeatmap()" [tooltips]="[ true ]" style="margin-top: 4em;"></nouislider>
          <div>{{epochSliderConfig.epochRange[1]}}</div>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Radius" [(ngModel)]="heatmapNormalConfig.radius" (input)="refreshHeatmap()"
              type="number">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Blur" [(ngModel)]="heatmapNormalConfig.blur" (input)="refreshHeatmap()" type="number">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Density" [(ngModel)]="heatmapNormalConfig.density" (input)="createHeatmap()"
              type="number">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="form-field">Minimum Opacity:</div>
          <nouislider [min]="0.01" [max]="1.0" [step]="0.01" [(ngModel)]="heatmapNormalConfig.minOpacity" (change)="refreshHeatmap()"></nouislider>
          <div>{{ heatmapNormalConfig.minOpacity }}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <label class="form-field">Color 1:</label>
          <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'2'" [selectedColor]="heatmapNormalConfig.color1"
            (change)="heatmapNormalConfig.color1=$event; refreshHeatmap()" (selected)="heatmapNormalConfig.color1=$event; refreshHeatmap()"
            fxFlex="10">
            <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="5">
            </mcc-color-picker-collection>
          </mcc-color-picker>
          <div class="form-field">Trigger:</div>
          <nouislider [min]="heatmapNormalConfig.weightValueMin" [max]="heatmapNormalConfig.weightValueMax" [step]="0.01"
            [(ngModel)]="heatmapNormalConfig.color1Trigger" (change)="refreshHeatmap()"></nouislider>
          <div>{{(heatmapNormalConfig.color1Trigger)}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <label class="form-field">Color 2:</label>
          <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'" [selectedColor]="heatmapNormalConfig.color2"
            (change)="heatmapNormalConfig.color2=$event; refreshHeatmap()" (selected)="heatmapNormalConfig.color2=$event; refreshHeatmap()"
            fxFlex="10">
            <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16">
            </mcc-color-picker-collection>
          </mcc-color-picker>
          <div class="form-field">Trigger:</div>
          <nouislider [min]="heatmapNormalConfig.weightValueMin" [max]="heatmapNormalConfig.weightValueMax" [step]="0.01"
            [(ngModel)]="heatmapNormalConfig.color2Trigger" (change)="refreshHeatmap()"></nouislider>
          <div>{{(heatmapNormalConfig.color2Trigger)}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <label class="form-field">Color 3:</label>
          <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'" [selectedColor]="heatmapNormalConfig.color3"
            (change)="heatmapNormalConfig.color3=$event; refreshHeatmap()" (selected)="heatmapNormalConfig.color3=$event; refreshHeatmap()"
            fxFlex="10">
            <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16">
            </mcc-color-picker-collection>
          </mcc-color-picker>
          <div class="form-field">Trigger:</div>
          <nouislider [min]="heatmapNormalConfig.weightValueMin" [max]="heatmapNormalConfig.weightValueMax" [step]="0.01"
            [(ngModel)]="heatmapNormalConfig.color3Trigger" (change)="refreshHeatmap()"></nouislider>
          <div>{{(heatmapNormalConfig.color3Trigger)}}</div>

        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-slide-toggle [(ngModel)]="drawFully" (change)="createHeatmap()" class="setting-item">Draw
            full map</mat-slide-toggle>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-divider></mat-divider>

</mat-dialog-content>

<mat-dialog-actions>
  <div *ngIf="activeTab == 0">
    <button mat-button color="accent" (click)="reset()" *ngIf="router.url.includes('builder')">Reset</button>
    <button mat-button color="accent" (click)="trainNetwork()" [disabled]="!this.playgroundForm.valid" *ngIf="router.url.includes('builder')"
      mat-dialog-close>
      Train Network
    </button>
    <button mat-button color="accent" (click)="visualize()" *ngIf="router.url.includes('archive')" mat-dialog-close>Visualize
    </button>
  </div>
  <div *ngIf="activeTab == 1">
    <button mat-button color="accent" (click)="resetOptions()">Reset</button>
    <button mat-button color="accent" (click)="console.log('hahaha')" mat-dialog-close>Apply</button>
  </div>
</mat-dialog-actions>