<div class='main'>
    <div class="pic">
        <i class="fas fa-brain"
        routerLink='/brain-view'></i>
        <div>Brain View</div>
    </div>
    <div class="pic">
        <i class="fas fa-project-diagram"
        routerLink='/layer-view'></i>
        <div>Layer View</div>
    </div>
    <div class="pic">
        <i class="fas fa-cut"
        routerLink='/ablation-view'></i>
        <div>Ablation</div>
    </div>
    <!-- <i class="pic fas fa-dumbbell"></i> -->
    <div [ngClass]="testCom === 'OK' ? 'status' : 'status-fail'">
        Backend Status: {{testCom}}
    </div>
</div>