<div #container class="container" [class.full-width]="dataService.activeSideMenu === activeSideMenu.None" (resized)="containerResized()">
    <div *ngIf="epochSlider.maxEpoch > 1 && dataService.selectedNetwork" class="information">
        <button mat-icon-button (click)="toggleAnimation()">
            <mat-icon *ngIf="!epochSlider.isPlaying">play_circle_outline</mat-icon>
            <mat-icon *ngIf="epochSlider.isPlaying">pause_circle_outline</mat-icon>
        </button>
        <div class="form-field">Epoch</div>
        <div>1</div>
        <nouislider [min]="1" [max]="epochSlider.maxEpoch" [step]="1" [(ngModel)]="epochSlider.currEpoch"
            (change)="updateWeights(true)" [tooltips]="[ true ]"></nouislider>
        <div>{{epochSlider.maxEpoch}}</div>
    </div>
</div>