.container {
    width: 65vw;
    height: calc(100vh - 55px);

    position: relative;
}

.full-width {
    width: 100vw;
}

.information {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    
    width: calc(100% - 1rem);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-right: 1rem;
}

.full-width .information {
    width: calc(100% - 2rem);
}

nouislider {
    width: 175px;
    margin: 0 .25rem;
}

button.form-item {
    background-color: rgba(20, 20, 20, 0.603);
    color: rgb(221, 175, 23);
}