mat-toolbar {
    position: fixed;
    z-index: 5;
}

h1.app-name { margin-left: 8px; }

.sidenav-container {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;

    mat-sidenav-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
  
.sidenav {
    width: 250px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.active-link { background: rgba(255, 255, 255, .04); }

button.mat-fab {
    z-index: 2;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}