<mat-dialog-content>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Configurations">
      <div *ngIf="router.url.includes('builder')">
        <form [formGroup]="playgroundForm" fxLayout="row wrap">
          <div style="margin-top: 0.5rem;">
            <strong>Source</strong>
          </div>
          <div fxFlex="grow"></div>
          <div>
            <mat-form-field>
              <mat-label>Source</mat-label>
              <mat-select formControlName="source">
                <mat-option *ngFor="let source of playgroundData.sources" [value]="source.value">
                  {{source.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="grow"></div>
          <div style="margin-top: 0.5rem;">
            <strong>{{ playgroundForm.value.source }} Configurations</strong>
          </div>
          <div fxFlex="grow"></div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Batch Size Train" type="text" formControlName="batchSizeTrain">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Batch Size Test" type="text" formControlName="batchSizeTest">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Epoch" type="text" formControlName="epoch">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Learning Rate" type="text" formControlName="learning_rate"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of playgroundData.learningRates" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex="grow"></div>
          <div style="margin-top: 0.5rem;">
            <strong>Convolutional Layers</strong>
          </div>
          <div fxFlex="grow"></div>
          <div formArrayName="convLayers" fxLayout="row wrap">
            <div *ngFor="let layer of convLayers.controls; let i=index" [formGroupName]="i">
              <div style="margin-top: 0.5rem;">
                <strong> {{ i+1 | ordinal }} Layer</strong>
              </div>
              <div class="layers">

                <ng-container *ngIf="i === 0">
                  <mat-form-field>
                    <input matInput placeholder="In Channel" type="number" min="1" [(ngModel)]="firstChannel"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="i > 0">
                  <mat-form-field>
                    <input matInput placeholder="In Channel" type="number" min="1" [(ngModel)]="commonChannels[i-1]"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </ng-container>

                <ng-container *ngIf="i < convLayers.length-1">
                  <mat-form-field>
                    <input matInput placeholder="Out Channel" type="number" min="1" [(ngModel)]="commonChannels[i]"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="i === convLayers.length-1">
                  <mat-form-field>
                    <input matInput placeholder="Out Channel" type="number" min="1" [(ngModel)]="lastChannel"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </ng-container>

                <mat-form-field>
                  <input matInput placeholder="Kernel Size" type="number" min="1" formControlName="kernelSize">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Stride" type="number" min="1" formControlName="stride">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Padding" type="number" min="1" formControlName="padding">
                </mat-form-field>
                <button mat-icon-button (click)="delLayer(i, 'convLayer')" class="del-button">
                  <mat-icon>delete</mat-icon>
                </button>
                <ng-container *ngIf="i === convLayers.length-1">
                  <button mat-icon-button (click)="addLayer('convLayer')">
                    <mat-icon>add</mat-icon>
                  </button>
                </ng-container>
              </div>
            </div>

            <ng-container *ngIf="convLayers.length === 0">
              <button mat-icon-button (click)="addLayer('convLayer')">
                <mat-icon>add</mat-icon>
              </button>
            </ng-container>
          </div>
          <div fxFlex="grow"></div>
          <div style="margin-top: 0.5rem;">
            <strong>Fully Connected Layers</strong>
          </div>
          <div fxFlex="grow"></div>
          <div formArrayName="fcLayers" fxLayout="row wrap">
            <div *ngFor="let layer of fcLayers.controls; let i=index" [formGroupName]="i">
              <div style="margin-top: 0.5rem;">
                <strong> {{ i+1 | ordinal }} Layer</strong>
              </div>
              <div class="layers">
                <mat-form-field>
                  <input matInput placeholder="Number of Units" type="number" min="1" formControlName="unitCount">
                </mat-form-field>
                <button mat-icon-button (click)="delLayer(i, 'fcLayer')" class="del-button">
                  <mat-icon>delete</mat-icon>
                </button>
                <ng-container *ngIf="i === fcLayers.length-1">
                  <button mat-icon-button (click)="addLayer('fcLayer')">
                    <mat-icon>add</mat-icon>
                  </button>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="fcLayers.length === 0">
              <button mat-icon-button (click)="addLayer('fcLayer')">
                <mat-icon>add</mat-icon>
              </button>
            </ng-container>
          </div>
        </form>
      </div>
      <div *ngIf="router.url.includes('archive') || router.url.includes('ablation')">
        <div style="height: 0.5rem;">
        </div>
        <mat-form-field>
          <mat-select [(value)]="selectedFile" placeholder="File">
            <mat-option *ngFor="let file of files" [value]="file.value" (click)="selectedFileClick(file.value)">
              {{ file.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Options" *ngIf="activeSceneTab == 0 && !router.url.includes('ablation')">
      <div>
        <div style="height: 0.5rem;">
        </div>
        <div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Radius" [(ngModel)]="heatmapNormalConfig.radius" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Blur" [(ngModel)]="heatmapNormalConfig.blur" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Density" [(ngModel)]="heatmapNormalConfig.density" type="number">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="form-field">Minimum Opacity:</div>
            <nouislider [min]="0.01" [max]="1.0" [step]="0.01" [(ngModel)]="heatmapNormalConfig.minOpacity">
            </nouislider>
            <div>{{ heatmapNormalConfig.minOpacity }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <label class="form-field">Color 1:</label>
            <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'2'"
              [selectedColor]="heatmapNormalConfig.color1" (change)="heatmapNormalConfig.color1=$event;"
              (selected)="heatmapNormalConfig.color1=$event;" fxFlex="10">
              <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="5">
              </mcc-color-picker-collection>
            </mcc-color-picker>
            <div class="form-field">Trigger:</div>
            <nouislider [min]="heatmapNormalConfig.weightValueMin" [max]="heatmapNormalConfig.weightValueMax"
              [step]="0.01" [(ngModel)]="heatmapNormalConfig.color1Trigger"></nouislider>
            <div>{{(heatmapNormalConfig.color1Trigger)}}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <label class="form-field">Color 2:</label>
            <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'"
              [selectedColor]="heatmapNormalConfig.color2" (change)="heatmapNormalConfig.color2=$event;"
              (selected)="heatmapNormalConfig.color2=$event;" fxFlex="10">
              <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16">
              </mcc-color-picker-collection>
            </mcc-color-picker>
            <div class="form-field">Trigger:</div>
            <nouislider [min]="heatmapNormalConfig.weightValueMin" [max]="heatmapNormalConfig.weightValueMax"
              [step]="0.01" [(ngModel)]="heatmapNormalConfig.color2Trigger"></nouislider>
            <div>{{(heatmapNormalConfig.color2Trigger)}}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <label class="form-field">Color 3:</label>
            <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'"
              [selectedColor]="heatmapNormalConfig.color3" (change)="heatmapNormalConfig.color3=$event;"
              (selected)="heatmapNormalConfig.color3=$event;" fxFlex="10">
              <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16">
              </mcc-color-picker-collection>
            </mcc-color-picker>
            <div class="form-field">Trigger:</div>
            <nouislider [min]="heatmapNormalConfig.weightValueMin" [max]="heatmapNormalConfig.weightValueMax"
              [step]="0.01" [(ngModel)]="heatmapNormalConfig.color3Trigger"></nouislider>
            <div>{{(heatmapNormalConfig.color3Trigger)}}</div>

          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-slide-toggle [(ngModel)]="drawFully" class="setting-item">Draw
              full map</mat-slide-toggle>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-divider></mat-divider>

</mat-dialog-content>

<mat-dialog-actions>
  <div *ngIf="activeSettingsTab == 0">
    <button mat-button (click)="resetForm()" *ngIf="router.url.includes('builder')">Reset</button>
    <button mat-button (click)="trainNetwork()" [disabled]="!this.playgroundForm.valid"
      *ngIf="router.url.includes('builder')" mat-dialog-close>
      Train Network
    </button>
    <button mat-button (click)="visualize()" *ngIf="router.url.includes('archive') || router.url.includes('ablation')"
      mat-dialog-close>Visualize
    </button>
  </div>
  <div *ngIf="activeSettingsTab == 1">
    <button mat-button (click)="resetOptions()">Reset</button>
    <button mat-button (click)="applyOptions()" mat-dialog-close>Apply</button>
  </div>
</mat-dialog-actions>