mat-dialog-content {
    min-width: 320px;
    max-width: 1230px;
}

mat-form-field, .form-field {
    margin-right: 1rem;
}

.layers {
    margin-right: 1rem;
    // mat-form-field { margin-right: 0; }
}

.del-button {
    margin-left: -1rem;
}

mcc-color-picker {
    padding-bottom: 0;
    margin-right: 2rem;
}

.setting-item {
    margin-bottom: 0.5rem;
}

mat-dialog-actions { flex-direction: row-reverse; }