<div class="toolbar-container">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">CNN Visualization</h1>
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
        <mat-sidenav #snav mode="over" [fixedInViewport]="true" [fixedTopGap]="mobileQuery.matches ? 56 : 64">
            <app-controls></app-controls>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-scene></app-scene>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<router-outlet></router-outlet>