mat-expansion-panel {
    width: 100vw;
}

mat-form-field, .form-field {
    margin-right: 16px;
}

.plots {
    margin-top: 16px;
}

.plot-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.chart-container {
    position: relative;
    margin: 0 auto;
    height:300px;
    width:300px;

    > canvas {
        max-width: 300px;
        max-height: 300px;
    }
}






canvas {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.first-item {
    margin-top: 1.5rem;
}

mat-form-field.slider-value {
    width: 2.5rem;
}

#btnSetupModel {
    display: block;
    margin: 0 auto;
    margin-bottom: 9px;
}