<mat-sidenav #snav mode="over" position="end" [fixedInViewport]="true" [fixedTopGap]="fixedTopGap" style="max-width: 313.948px !important;">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Setup</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-select placeholder="File">
                    <mat-option *ngFor="let file of files" [value]="file.value" (click)="selectedFile=file.value">
                        {{ file.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-action-row>
                <button mat-button color="accent" (click)="startCalc()">Start the Calculation</button>
                <button mat-button color="accent" (click)="testFunction()">Test</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout="column wrap" style="padding-left: 1.5rem; padding-right: 1.5rem;">
        <div fxLayout="row" class="first-item">
            <div>{{epochRange[0]}}</div>
            <div fxFlex="grow"></div>
            <div class="setting-label">Epoch</div>
            <div fxFlex="grow"></div>
            <div>{{epochRange[1]}}</div>
        </div>
        <nouislider [connect]="true" [min]="1" [max]="100" [step]="1" [(ngModel)]="epochRange"></nouislider>
        <mat-slide-toggle class="setting-item">Neural Netowrk</mat-slide-toggle>
        <mat-slide-toggle class="setting-item last-item">ANN</mat-slide-toggle>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Heatmap Config</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="column wrap">
                <mat-form-field>
                    <input matInput placeholder="Radius" value="4" type="number">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Blur" value="2" type="number">
                </mat-form-field>
                <div fxLayout="row">
                    <div class="setting-label">Minimum Opacity</div>
                    <div fxFlex="grow"></div>
                    <div>{{(minOpac/100)}}</div>
                </div>
                <mat-slider min="1" max="100" step="1" [value]="minOpac" (input)="minOpac=$event.value;"></mat-slider>
                <label for="">Color 1</label>
                <div fxLayout="row">
                    <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'" (change)="color1=$event" (selected)="color1=$event"
                        fxFlex="grow">
                        <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16"> </mcc-color-picker-collection>
                    </mcc-color-picker>
                </div>
                <div fxLayout="row">
                    <div class="setting-label">Color 1 Trigger</div>
                    <div fxFlex="grow"></div>
                    <div>{{(col1Trigger/100)}}</div>
                </div>
                <mat-slider min="1" max="100" step="1" [value]="col1Trigger" (input)="col1Trigger=$event.value;"></mat-slider>
                <label for="">Color 2</label>
                <div fxLayout="row">
                    <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'" (change)="color2=$event" (selected)="color2=$event"
                        fxFlex="grow">
                        <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16"> </mcc-color-picker-collection>
                    </mcc-color-picker>
                </div>
                <div fxLayout="row">
                    <div class="setting-label">Color 2 Trigger</div>
                    <div fxFlex="grow"></div>
                    <div>{{(col2Trigger/100)}}</div>
                </div>
                <mat-slider min="1" max="100" step="1" [value]="col2Trigger" (input)="col2Trigger=$event.value;"></mat-slider>
                <label for="">Color 3</label>
                <div fxLayout="row">
                    <mcc-color-picker [usedColorLabel]="'My Colors'" [usedSizeColors]="'7'" (change)="color3=$event" (selected)="color3=$event"
                        fxFlex="grow">
                        <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors" [size]="16"> </mcc-color-picker-collection>
                    </mcc-color-picker>
                </div>
                <div fxLayout="row">
                    <div class="setting-label">Color 3 Trigger</div>
                    <div fxFlex="grow"></div>
                    <div>{{(col3Trigger/100)}}</div>
                </div>
                <mat-slider min="1" max="100" step="1" [value]="col3Trigger" (input)="col3Trigger=$event.value;"></mat-slider>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Demo Layer</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column wrap">
            <div fxLayout="row">
                <div class="setting-label">Layer Count</div>
                <div fxFlex="grow"></div>
                <div>{{layerCount}}</div>
            </div>
            <mat-slider min="1" max="100" step="1" [value]="layerCount" (input)="layerCount=$event.value;"></mat-slider>
            <div fxLayout="row">
                <div class="setting-label">Node Count</div>
                <div fxFlex="grow"></div>
                <div>{{nodeCount}}</div>
            </div>
            <mat-slider min="1" max="100" step="1" [value]="nodeCount" (input)="nodeCount=$event.value;"></mat-slider>
            <mat-slide-toggle class="setting-item last-item">Edge Case</mat-slide-toggle>
            <mat-action-row>
                <button mat-button color="accent">Create Network</button>
            </mat-action-row>

        </div>
    </mat-expansion-panel>
</mat-accordion> -->


    <!-- playground -->

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Playground</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div fxLayout="column wrap">
                <mat-form-field>
                    <mat-select placeholder="Problem to solve" (selectionChange)="problemChange($event.value)" [value]="selectedProblem">
                        <mat-option *ngFor="let problem of problems" [value]="problem.value">
                            {{ problem.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="selectedProblem=='polynomial-regression';else mnist">
                    <mat-form-field>
                        <input matInput placeholder="Learning Rate" value="1" type="number" [(ngModel)]="learningRate">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Number of Iteration" value="1" type="number" [(ngModel)]="numIterations">
                    </mat-form-field>
                </div>
                <ng-template #mnist>content here...</ng-template>

                <!-- <mat-form-field>
                    <input matInput placeholder="Layers" value="1" type="number" [(ngModel)]="layerCount">
                </mat-form-field>
                <div *ngFor="let layer of playgroundService.arrayOne(layerCount); let i = index">
                    <div class="setting-label">{{ i+1 | ordinal }} Layer</div>
                    <mat-form-field>
                        <input matInput placeholder="Nodes" value="1" type="number" [(ngModel)]="nodeCount">
                    </mat-form-field>
                </div> -->
                <!-- <mat-slide-toggle class="setting-item last-item">Edge Case</mat-slide-toggle> -->
                <mat-action-row>
                    <button mat-button color="accent" (click)="reset()">Reset</button>
                    <button mat-button color="accent" (click)="trainNetworkClicked()" [disabled]="trainNetworkDisabled">Train Network</button>
                </mat-action-row>

            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- playground -->


</mat-sidenav>

<mat-sidenav-content>
    <!-- <canvas #canvas></canvas>
<app-brain #brainComponent [sceneInput]="scene"></app-brain> -->
    <!--<app-molecule></app-molecule>-->

    <div class="plots" fxLayout="row wrap" *ngIf="selectedProblem=='polynomial-regression';else mnistPlot">
        <div id="data" class="plot-item">
            <div class="caption">Original Data (Synthetic)</div>
            <div class="caption">True coefficients:
                <span class='coeff' #dataCoeff></span>
            </div>
            <div class="chart-container">
                <canvas #dataCanvas class="plot"></canvas>
            </div>
        </div>
        <div id="random" class="plot-item">
            <div class="caption">Fit curve with random coefficients
                <strong>(before training)</strong>
            </div>
            <div class="caption">Random coefficients:
                <span class='coeff' #randomCoeff></span>
            </div>
            <div class="chart-container">
                <canvas #randomCanvas class="plot"></canvas>
            </div>
        </div>
        <div id="trained" class="plot-item">
            <div class="caption">Fit curve with learned coefficients
                <strong>(after training)</strong>
            </div>
            <div class="caption">Learned coefficients:
                <span class='coeff' #trainedCoeff></span>
            </div>
            <div class="chart-container">
                <canvas #trainedCanvas class="plot"></canvas>
            </div>
        </div>
    </div>
    <ng-template #mnistPlot>
        <div id="content">
            <h3>TensorFlow.js: Train MNIST with the Layers API</h3>

            <div id="status" #divStatus>Loading data...</div>
            <div id="message"></div>

            <div id="stats">
                <div class="canvases">
                    <div class="label" id="loss-label"></div>
                    <div id="lossCanvas"></div>
                </div>
                <div class="canvases">
                    <div class="label" id="accuracy-label"></div>
                    <div id="accuracyCanvas"></div>
                </div>
            </div>

            <div id="images"></div>
        </div>
    </ng-template>
</mat-sidenav-content>