mat-expansion-panel {
    width: 100vw;
}

mat-form-field, .form-field {
    margin-right: 16px;
}

#subAppsContainer{
width: 100vw;
padding-top: .5rem;
position: relative;;
}

.cosmeticsFormFields {
    width: 20%;
}

.plots {
    margin-top: 16px;
}

.plot-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.chart-container {
    position: relative;
    margin: 0 auto;
    height:300px;
    width:300px;

    > canvas {
        max-width: 300px;
        max-height: 300px;
    }
}

nouislider {
    width: 166px;
}

// mcc-color-picker {
//     width: 80%;
//     padding: 0;
// }

// .color-config {
//     > div:nth-child(1) {
//         width: 45vw;
//     }

//     > div::nth-child(2) {
//         width: 50vw;
//     }
// }

.spacer {
    display: inline-block;
    width: 16px;
}



// canvas {
//     width: 100vw;
//     height: 100vh;
//     z-index: -1;
// }

.setting-label {
    white-space: nowrap;
}

.first-item {
    margin-top: 1.5rem;
}

.last-item {
    margin-bottom: 1.5rem;
}

mat-form-field.slider-value {
    width: 2.5rem;
}

.settingsArea{
    position: absolute;
    right: 0;
    top: -7.5%;
    z-index: 5;
}

// .example-container {
//     width: 500px;
//     height: 300px;
//     border: 1px solid rgba(0, 0, 0, 0.5);
//   }
  
//   .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }

.example-sidenav {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .example-sidenav {
    padding: 20px;
  }

//   .example-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: #eee;
//   }

// md-disable-backdrop
// md-backdrop.md-sidenav-backdrop{
//     display:none
// }

.information {
    position: absolute;    
    bottom: 3rem;
    width: 100vw;
    height: 75px;
    z-index: 10;
}