.container {
    position: absolute;
    top: 50%;
    right: 0;

    width: 100vw;
    background-color: white;
}

.information {
    position: absolute;    
    bottom: 0;
    right: 0;
    width: 100vw;
    text-align: center;
}